.dashboard {
  padding: 41px 95px 0 71px;

  &__title {
    margin-bottom: 51px;

    color: #000;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
  }
}
