$main-color: #000000;
$secondary-color: #292d32;
$main-background: #ffffff;

$input-bgc: #f9fbff;
$table-header-color: #b5b7c0;
$line-color: #eeeeee;
$active-color: #008767;
$active-bgc: rgba(22, 192, 152, 0.38);
$active-border: #00b087;
$inactive-color: #df0404;
$inacteve-bgc: #ffc5c5;
